.chat-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-end;
    height: 100%;
  }
  
  .message {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    max-width: 70%;
    word-wrap: break-word;
  }
  
  .message.user {
    align-self: flex-end;
    background-color: #007bff;
    color: white;
  }
  
  .message.bot {
    align-self: flex-start;
    background-color: #f0f0f0;
  }
  
  .message.typing .ellipsis {
    animation: ellipsis-animation 1s infinite;
    font-size: 34px;
    visibility: visible;
  }
  .message.bot .ellipsis {
    font-size: 34px;
    visibility: visible;
  }
  
  @keyframes ellipsis-animation {
    0% {
      opacity: 0.25;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
  
  .input-container {
    display: flex;
    align-items: center;
    padding: 10px;
  }
  
  .input-container input[type="text"] {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .input-container button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .input-container button:hover {
    background-color: #0056b3;
  }
  
  .input-container button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  